<mat-card>
<!-- 	<mat-card-content>
		<mat-card-title>Transporte</mat-card-title>
		<mat-card-subtitle>Formulário de solicitação de transporte.</mat-card-subtitle>
		<div class="form-row">
			<div class="col-10">
				<p>
					<mat-form-field appearance="outline">
						<mat-label>Nome do solicitante</mat-label>
						<input matInput placeholder="Nome completo">
					</mat-form-field>
				</p>
			</div>
			<div class="col">
				<p>
					<mat-form-field appearance="outline">
						<mat-label>Qtd. Ocupantes</mat-label>
						<input matInput placeholder="Qtd. de ocupantes" type="number">
					</mat-form-field>
				</p>
			</div>
		</div>
		<div class="form-row">
			<div class="col">
				<p>
					<mat-form-field appearance="outline">
						<mat-label>E-mail</mat-label>
						<input type="email" name="email" ngModel email="true" matInput placeholder="E-mail institucional">
					</mat-form-field>
				</p>
			</div>
			<div class="col">
				<p>
					<mat-form-field appearance="outline">
						<mat-label>Setor</mat-label>
						<input matInput placeholder="Setor">
					</mat-form-field>
				</p>
			</div>
		</div>
		<div class="form-row">
			<div class="col">
				<p>
					<mat-form-field appearance="outline">
						<mat-label>Origem</mat-label>
						<input matInput placeholder="Local de origem">
					</mat-form-field>
				</p>
			</div>
			<div class="col">
				<p>
					<mat-form-field appearance="outline">
						<mat-label>Destino</mat-label>
						<input matInput placeholder="Local de de destino">
					</mat-form-field>
				</p>
			</div>
		</div>
		<div class="form-row">
			<div class="col-4">
				<p>
					<mat-form-field appearance="outline">
						<mat-label>Data</mat-label>
						<input matInput placeholder="Local de de destino" type="date">
					</mat-form-field>
				</p>
			</div>
			<div class="col-4">
				<p>
					<mat-form-field appearance="outline">
						<mat-label>Hora/Saída</mat-label>
						<input matInput placeholder="Local de de destino" type="time">
					</mat-form-field>
				</p>
			</div>
			<div class="col-4">
				<p>
					<mat-form-field appearance="outline">
						<mat-label>Hota/Volta</mat-label>
						<input matInput placeholder="Local de de destino" type="time">
					</mat-form-field>
				</p>
			</div>
			
		</div>

		<div class="form-row">
			<div class="col">
				<p>
					<mat-form-field appearance="outline">
						<mat-label>Descrição</mat-label>
						<textarea matInput placeholder="Descrição da solicitação"></textarea>
					</mat-form-field>
				</p>
			</div>
		</div>
		
		
		<button mat-button>Solicitar Transporte</button>
	
	</mat-card-content> -->

	<iframe title="# Previdência - Estado do Maranhão - Censo Recadastramento Prova de Vida - BI" src="https://app.powerbi.com/view?r=eyJrIjoiNzJkYzVlODItZTVlYy00NmMwLTg5NjQtZTBhYWI0YjM3MGY2IiwidCI6IjU0YWRhMzJkLWE5YWQtNDc0ZC04MmMxLTk2ZDQwZTIxY2NkNiJ9" frameborder="0" allowFullScreen="true" style="width: 100%; height: 90vh;"></iframe>

</mat-card>