<mat-card>
	<mat-card-content>    
	<mat-card-title>Arquivos Importantes</mat-card-title>
			<mat-card-subtitle>Acesso via download à aquivos Importantes</mat-card-subtitle>
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome do Arquivo</th>
                    <th scope="col">Link</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let arquivo of lista_arquivos; let i = index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{arquivo.title.rendered}}</td>
                    <td><a href="{{arquivo.acf.titulo}}" target="blank" style="color: black;"><i class="material-icons clicavel">save_alt</i></a></td>
                  </tr>
                </tbody>
              </table>	
			
	</mat-card-content>
</mat-card>


