<mat-card>
	<mat-card-content>
		<mat-card-title>Outros Serviços</mat-card-title>
		<mat-card-subtitle>Formulário de solicitação de outros serviços</mat-card-subtitle>
		<div class="form-row">
			<div class="col">
				<p>
					<mat-form-field appearance="outline">
						<mat-label>Nome do solicitante</mat-label>
						<input matInput placeholder="Nome completo">
					</mat-form-field>
				</p>
			</div>
			<div class="col">
				<p>
					<mat-form-field appearance="outline">
						<mat-label>E-mail</mat-label>
						<input matInput placeholder="E-mail institucional">
					</mat-form-field>
				</p>
			</div>
		</div>
		<div class="form-row">
			<div class="col">
				<p>
					<mat-form-field appearance="outline">
						<mat-label>Setor</mat-label>
						<input matInput placeholder="Setor">
					</mat-form-field>
				</p>
			</div>
			<div class="col">
				<p>
					<mat-form-field appearance="outline">
						<mat-label>Localização</mat-label>
						<input matInput placeholder="(Biadene, Anxos, etc...)">
					</mat-form-field>
				</p>
			</div>
		</div>
		<div class="form-row">
			<div class="col">
				<p>
					<mat-form-field appearance="outline">
						<mat-label>Descrição</mat-label>
						<textarea matInput placeholder="Descrição da solicitação"></textarea>
					</mat-form-field>
				</p>
			</div>
		</div>
		
		<button mat-button>Solicitar serviço</button>
	
	</mat-card-content>
</mat-card>
