<mat-card>
	<mat-card-content>
		<mat-card-title>Telefone Úteis</mat-card-title>
		<mat-card-subtitle>Principais telefones</mat-card-subtitle>

		<div _ngcontent-lfh-c12="" fxlayout="row wrap"
			style="flex-flow: row wrap; box-sizing: border-box; display: flex;">
			<div _ngcontent-lfh-c12="" fxflex="100" fxflex.gt-sm="33.33" fxflex.gt-xs="100"
				style="flex: 1 1 33.33%; box-sizing: border-box; max-width: 33.33%;">
				<mat-card _ngcontent-lfh-c12="" class="bg-info mat-card">
					<mat-card-content _ngcontent-lfh-c12="" class="mat-card-content">
						<div _ngcontent-lfh-c12="" class="d-flex no-block align-items-center">
							<div _ngcontent-lfh-c12="" class="stats">
								<h3 _ngcontent-lfh-c12="" class="text-white m-0">Gabinete Institucional</h3>
								<h6 _ngcontent-lfh-c12="" class="text-white m-t-0">Edifício Biadene, 13º andar </h6>
								<h1 _ngcontent-lfh-c12="" class="text-white m-0">(98) 4141-7177</h1>
							</div>
							<div _ngcontent-lfh-c12="" class="ml-auto" style="height: 84px; width: 100px">
								<div class="chartjs-size-monitor">
									<div class="chartjs-size-monitor-expand">
										<div class="">
											
										</div>
									</div>
									<div class="chartjs-size-monitor-shrink">
										<div class="">

										</div>
									</div>
								</div>
								<canvas _ngcontent-lfh-c12="" basechart="" class="chartjs-render-monitor" width="100"
									height="84" style="display: block; width: 100px; height: 84px;">
								</canvas>
							</div>
						</div>
					</mat-card-content>
				</mat-card>
			</div>
			<div _ngcontent-lfh-c12="" fxflex="100" fxflex.gt-sm="33.33" fxflex.gt-xs="100"
				style="flex: 1 1 33.33%; box-sizing: border-box; max-width: 33.33%;">
				<mat-card _ngcontent-lfh-c12="" class="bg-purple mat-card">
					<mat-card-content _ngcontent-lfh-c12="" class="mat-card-content">
						<div _ngcontent-lfh-c12="" class="d-flex no-block align-items-center">
							<div _ngcontent-lfh-c12="" class="stats">
								<h3 _ngcontent-lfh-c12="" class="text-white m-0">DAF - Deiretoria Administrativa</h3>
								<h6 _ngcontent-lfh-c12="" class="text-white m-t-0">Edifício Biadene, 10º andar </h6>
								<h1 _ngcontent-lfh-c12="" class="text-white m-0">(98) 4141-7177</h1>
							</div>
							<div _ngcontent-lfh-c12="" class="ml-auto" style="height: 84px; width: 100px">
								<div class="chartjs-size-monitor">
									<div class="chartjs-size-monitor-expand">
										<div class="">
										</div>
									</div>
									<div class="chartjs-size-monitor-shrink">
										<div class="">

										</div>
									</div>
								</div>
								<canvas _ngcontent-lfh-c12="" basechart=""
									style="display: block; width: 100px; height: 84px;" class="chartjs-render-monitor"
									width="100" height="84">
								</canvas>
							</div>
						</div>
					</mat-card-content>
				</mat-card>
			</div>
			<div _ngcontent-lfh-c12="" fxflex="100" fxflex.gt-sm="33.33" fxflex.gt-xs="100"
				style="flex: 1 1 33.33%; box-sizing: border-box; max-width: 33.33%;">
				<mat-card _ngcontent-lfh-c12="" class="bg-success mat-card">
					<mat-card-content _ngcontent-lfh-c12="" class="mat-card-content">
						<div _ngcontent-lfh-c12="" class="d-flex no-block align-items-center">
							<div _ngcontent-lfh-c12="" class="stats">
								<h3 _ngcontent-lfh-c12="" class="text-white m-0">Perícia Médica</h3>
								<h6 _ngcontent-lfh-c12="" class="text-white m-t-0">Centro Social dos Servidores</h6>
								<h1 _ngcontent-lfh-c12="" class="text-white m-0">(98) 3214-8606</h1>
							</div>
							<div _ngcontent-lfh-c12="" class="ml-auto" style="height: 84px; width: 100px">
								<div class="chartjs-size-monitor">
									<div class="chartjs-size-monitor-expand">
										<div class="">

										</div>
									</div>
									<div class="chartjs-size-monitor-shrink">
										<div class="">

										</div>
									</div>
								</div>
								<canvas _ngcontent-lfh-c12="" basechart=""
									style="display: block; width: 100px; height: 84px;" class="chartjs-render-monitor"
									width="100" height="84">
								</canvas>
							</div>
						</div>
					</mat-card-content>
				</mat-card>
			</div>
		</div>

	</mat-card-content>
</mat-card>