<mat-card>
	<mat-card-content>    
		<mat-card-title>Ramais do IPREV/MA</mat-card-title>
		<mat-card-subtitle>Lista de Ramais</mat-card-subtitle>
		<div class="input-group mb-3 col-6 input-group-lg" style="padding: 20px 15px 0px 15px; float: right;">
			<input type="text" class="form-control" placeholder="Digite uma busca" aria-label="Digite uma busca" aria-describedby="button-addon2"
       		 style="border: 0.8px solid #CED4DA;" [(ngModel)]="filter">
		</div>
		 <table class="table" style=" margin-top:50px">
			<thead style="background: white;">
			  <tr>
				<th scope="col">Ramal</th>
				<th scope="col">Setor</th>
				<th scope="col">Responsável</th>
			  </tr>
			</thead>
			<tbody style="background: white;"  style="font-size: 12px;">
			  <tr *ngFor="let col of ramais | filter: filter">
				<td style="font-size: 16px;" scope="row"> {{ col.ramal }} </td>
				<td style="font-size: 16px;" scope="row"> {{ col.setor }} </td>
				<td style="font-size: 16px;" scope="row"> {{ col.responsavel }} </td>
			  </tr>
			</tbody>
		  </table>
			
	</mat-card-content>
</mat-card>
