<!--
<div class="mat-dialog-container" style="background: #1E88E5; padding: 0px 0px 0px 0px; display: block;">
    <div >
        <h2 style="color: white; padding: 15px 0px 5px 15px;">Destaque</h2>
    </div>
    <div>
        <img alt="Destaque" src="http://intranet.iprev.ma.gov.br/assets/images/destaque-novo.jpg" height="600px">
    </div>
</div>
-->




<div>
    <div>
        <h2 style="padding: 15px; background-color: #1E88E5; margin: -25px -24px; color: white; display: flex;">Destaque
            <i class="material-icons" style="cursor: pointer; width: 100%; text-align: end;" [mat-dialog-close]="true">clear</i></h2>
    </div>

    <img alt="Destaque" src="http://intranet.iprev.ma.gov.br/assets/images/destaque-novo.jpg" height="600px"
        style="padding: 50px 0px; overflow: hidden;">
</div>