<mat-card>
    <mat-card-content>
        <mat-card-title>Área das Relações Públicas</mat-card-title>
        <mat-card-subtitle>Envie a imagem para o destaque da Intranet.</mat-card-subtitle>

        <!--Adicionar uma tag form e colocar um atributo enctype="multipart/form-data" na tag form-->
        <div class="row">
            <div class="custom-file col-md-6" >
                <input type="file" class="custom-file-input" id="customFile" (change)="onChange($event)">
                <label class="custom-file-label" for="customFile" id="customFileLabel">Selecionar imagem</label>
            </div>

            <div class="col-md-6" style="margin-top:5px; text-align:center;">
                <label for="meeting-time" style="padding-right: 10px;">Data de Publicação: </label>
                <input type="datetime-local" [(ngModel)]="data_agendamento" [ngModelOptions]="{standalone: true}" />
            </div>

            <div style="margin-top: 15px">
                <button mat-raised-button color="primary" type="button" [disabled]="!arquivo" (click)= "onUpload()">Enviar</button>
            </div>
        </div>

    </mat-card-content>
</mat-card>
