<mat-card>
  
<!-- 	<mat-card-title>Arquivos Importantes</mat-card-title>
			<mat-card-subtitle>Acesso via download à aquivos Importantes</mat-card-subtitle>
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome do Arquivo</th>
                    <th scope="col">Link</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let arquivo of lista_arquivos; let i = index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{arquivo.title.rendered}}</td>
                    <td><a href="{{arquivo.acf.titulo}}" target="blank" style="color: black;"><i class="material-icons clicavel">save_alt</i></a></td>
                  </tr>
                </tbody>
              </table>	 -->

              
			
	

  <iframe title="# Previdência - Estado do Maranhão - Dados Previdenciários - BI" src="https://app.powerbi.com/view?r=eyJrIjoiYTIyODNjYzQtMmUyMC00YTQ2LWEwOTYtNjc2M2IzNTRhYmY5IiwidCI6IjU0YWRhMzJkLWE5YWQtNDc0ZC04MmMxLTk2ZDQwZTIxY2NkNiJ9" frameborder="0" allowFullScreen="true" style="width: 100%; height: 90vh;"></iframe>



</mat-card>


