<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Image Card row-->
<!-- ============================================================== -->
<div fxLayout="row wrap">
    <div _ngcontent-vek-c12 fxFlex="100" fxFlex.gt-sm="25" fxFlex.gt-xs="50"
        style="flex: 1 1 25%; box-sizing: border-box; max-width: 25%;">
        <a href="http://pousadas.iprev.ma.gov.br/sispousada/servidor.jsf" target="blank">
            <mat-card _ngcontent-vek-c12 class="mat-card">
                <mat-card-content _ngcontent-vek-c12 class="mat-card-content clicavel">
                    <div _ngcontent-vek-c12 class="d-flex no-blcok">
                        <div _ngcontent-ybu-c12 class="m-r-10 no shrink">
                            <div _ngcontent-ybu-c12 class="shadow-none mat-fab mat-accent" style="background: #26C6DA;">
                                <span class="mat-button-wrapper">
                                    <i class="material-icons">house</i>
                                </span>
                            </div>
                        </div>
                        <div _ngcontent-ybu-c12>
                            <h3 _ngcontent-ybu-c12 class="font-cards">SisPousadas</h3>
                            <h6 _ngcontent-ybu-c12 class="text-muted m-0">IPREV MA</h6>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </a>
    </div>

    <div _ngcontent-vek-c12 fxFlex="100" fxFlex.gt-sm="25" fxFlex.gt-xs="50"
        style="flex: 1 1 25%; box-sizing: border-box; max-width: 25%;">
        <mat-card _ngcontent-vek-c12 class="mat-card">
            <mat-card-content _ngcontent-vek-c12 class="mat-card-content clicavel">
                <div _ngcontent-vek-c12 class="d-flex no-blcok">
                    <div _ngcontent-ybu-c12 class="m-r-10 no shrink">
                        <div _ngcontent-ybu-c12 class="shadow-none mat-fab mat-accent" style="background: #FFB22B;">
                            <span class="mat-button-wrapper">
                                <i class="material-icons">wc</i>
                            </span>
                        </div>
                    </div>
                    <div _ngcontent-ybu-c12>
                        <h3 _ngcontent-ybu-c12 class="font-cards">EasyPrev</h3>
                        <h6 _ngcontent-ybu-c12 class="text-muted m-0">IPREV MA</h6>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>

    <div _ngcontent-vek-c12 fxFlex="100" fxFlex.gt-sm="25" fxFlex.gt-xs="50"
        style="flex: 1 1 25%; box-sizing: border-box; max-width: 25%;">
        <a href="https://correio.ma.gov.br/" target="blank">
            <mat-card _ngcontent-vek-c12 class="mat-card">
                <mat-card-content _ngcontent-vek-c12 class="mat-card-content clicavel">
                    <div _ngcontent-vek-c12 class="d-flex no-blcok">
                        <div _ngcontent-ybu-c12 class="m-r-10 no shrink">
                            <div _ngcontent-ybu-c12 class="shadow-none mat-fab mat-accent" style="background: #3F51B5;">
                                <span class="mat-button-wrapper">
                                    <i class="material-icons">email</i>
                                </span>
                            </div>
                        </div>
                        <div _ngcontent-ybu-c12>
                            <h3 _ngcontent-ybu-c12 class="font-cards">E-mail</h3>
                            <h6 _ngcontent-ybu-c12 class="text-muted m-0">Zimbra</h6>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </a>
    </div>

    <div _ngcontent-vek-c12 fxFlex="100" fxFlex.gt-sm="25" fxFlex.gt-xs="50"
        style="flex: 1 1 25%; box-sizing: border-box; max-width: 25%;">
        <a href="http://renovarh.segep.ma.gov.br/" target="blank">
            <mat-card _ngcontent-vek-c12 class="mat-card">
                <mat-card-content _ngcontent-vek-c12 class="mat-card-content clicavel">
                    <div _ngcontent-vek-c12 class="d-flex no-blcok">
                        <div _ngcontent-ybu-c12 class="m-r-10 no shrink">
                            <div _ngcontent-ybu-c12 class="shadow-none mat-fab mat-accent" style="background: #FC4B6C;">
                                <span class="mat-button-wrapper">
                                    <i class="material-icons">people_alt</i>
                                </span>
                            </div>
                        </div>
                        <div _ngcontent-ybu-c12>
                            <h3 _ngcontent-ybu-c12 class="font-cards">PEOPLE</h3>
                            <h6 _ngcontent-ybu-c12 class="text-muted m-0">FOLHA</h6>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </a>
    </div>


    <div _ngcontent-vek-c12 fxFlex="100" fxFlex.gt-sm="25" fxFlex.gt-xs="50"
        style="flex: 1 1 25%; box-sizing: border-box; max-width: 25%;">
        <a href="https://www.portaldoservidor.ma.gov.br/portal/#/login" target="blank">
            <mat-card _ngcontent-vek-c12 class="mat-card">
                <mat-card-content _ngcontent-vek-c12 class="mat-card-content clicavel">
                    <div _ngcontent-vek-c12 class="d-flex no-blcok">
                        <div _ngcontent-ybu-c12 class="m-r-10 no shrink">
                            <div _ngcontent-ybu-c12 class="shadow-none mat-fab mat-accent" style="background: green;">
                                <span class="mat-button-wrapper">
                                    <i class="material-icons">local_atm</i>
                                </span>
                            </div>
                        </div>
                        <div _ngcontent-ybu-c12>
                            <h3 _ngcontent-ybu-c12 class="font-cards">Contracheque</h3>
                            <h6 _ngcontent-ybu-c12 class="text-muted m-0">SEGEP</h6>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </a>
    </div>

    <div _ngcontent-vek-c12 fxFlex="100" fxFlex.gt-sm="25" fxFlex.gt-xs="50"
        style="flex: 1 1 25%; box-sizing: border-box; max-width: 25%;">
        <a href="https://eprocessos.ma.gov.br/ged/index.jsp" target="blank">
            <mat-card _ngcontent-vek-c12 class="mat-card">
                <mat-card-content _ngcontent-vek-c12 class="mat-card-content clicavel">
                    <div _ngcontent-vek-c12 class="d-flex no-blcok">
                        <div _ngcontent-ybu-c12 class="m-r-10 no shrink">
                            <div _ngcontent-ybu-c12 class="shadow-none mat-fab mat-accent" style="background: #7460EE;">
                                <span class="mat-button-wrapper">
                                    <i class="material-icons">file_copy</i>
                                </span>
                            </div>
                        </div>
                        <div _ngcontent-ybu-c12>
                            <h3 _ngcontent-ybu-c12 class="font-cards">E-Processos</h3>
                            <h6 _ngcontent-ybu-c12 class="text-muted m-0">IPREV MA</h6>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </a>
    </div>




    <div _ngcontent-vek-c12 fxFlex="100" fxFlex.gt-sm="25" fxFlex.gt-xs="50"
        style="flex: 1 1 25%; box-sizing: border-box; max-width: 25%;">
        <a href="http://requerimento.iprev.ma.gov.br/dpme" target="blank">
            <mat-card _ngcontent-vek-c12 class="mat-card">
                <mat-card-content _ngcontent-vek-c12 class="mat-card-content clicavel">
                    <div _ngcontent-vek-c12 class="d-flex no-blcok">
                        <div _ngcontent-ybu-c12 class="m-r-10 no shrink">
                            <div _ngcontent-ybu-c12 class="shadow-none mat-fab mat-accent" style="background: red;">
                                <span class="mat-button-wrapper">
                                    <i class="material-icons">local_hospital</i>
                                </span>
                            </div>
                        </div>
                        <div _ngcontent-ybu-c12>
                            <h3 _ngcontent-ybu-c12 class="font-cards">Perícia Médica</h3>
                            <h6 _ngcontent-ybu-c12 class="text-muted m-0">IPREV MA</h6>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </a>
    </div>


    <div _ngcontent-vek-c12 fxFlex="100" fxFlex.gt-sm="25" fxFlex.gt-xs="50"
        style="flex: 1 1 25%; box-sizing: border-box; max-width: 25%;">
        <a href="http://painel.iprev.ma.gov.br/aliquota/#/simulador" target="blank">
            <mat-card _ngcontent-vek-c12 class="mat-card">
                <mat-card-content _ngcontent-vek-c12 class="mat-card-content clicavel">
                    <div _ngcontent-vek-c12 class="d-flex no-blcok">
                        <div _ngcontent-ybu-c12 class="m-r-10 no shrink">
                            <div _ngcontent-ybu-c12 class="shadow-none mat-fab mat-accent" style="background: #00897B;">
                                <span class="mat-button-wrapper">
                                    <i class="material-icons">exposure</i>
                                </span>
                            </div>
                        </div>
                        <div _ngcontent-ybu-c12>
                            <h3 _ngcontent-ybu-c12 class="font-cards">Calc. Alíquota</h3>
                            <h6 _ngcontent-ybu-c12 class="text-muted m-0">IPREV MA</h6>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </a>
    </div>





</div>
<div fxLayout="row wrap">
    <!-- column -->
    <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <div class="d-flex flex-wrap">
                    <div>
                        <mat-card-title>Últimas Notícias</mat-card-title>
                        <mat-card-subtitle>Acompanhe nossas principais notícias</mat-card-subtitle>
                    </div>
                    <!--
                    <div class="ml-auto">
                        <ul class="list-inline">
                            <li>
                                <h6 class="text-success m-0"><i
                                        class="mdi mdi-checkbox-blank-circle font-10 m-r-10 "></i>Ample</h6>
                            </li>
                            <li>
                                <h6 class=" text-info m-0"><i
                                        class="mdi mdi-checkbox-blank-circle font-10 m-r-10"></i>Pixel</h6>
                            </li>
                        </ul>
                    </div>
                    -->
                </div>
                <!--===================================================-->
                <!-- Card deck -->
                <div class="card-deck">

                    <!-- Card -->
                    <div class="card mb-4" *ngFor="let noticia of lista_noticias">

                        <!--Card image-->
                        <div class="view overlay">
                          <img class="card-img-top" [src]="noticia.imagem" alt="Card image cap">
                        </div>

                        <!--Card content-->
                        <div class="card-body">

                            <!--Title-->
                            <p class="card-title" style="font-size: 14px;">Publicado em:
                                {{noticia.date | date: 'dd/MM/yyyy'}}</p>
                            <!--Text-->
                            <h4 class="card-text">{{noticia.title.rendered}}</h4>
                            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                            <button type="button" (click)="abrirLeiaMaisDestaque(noticia)" class="btn btn-light-blue btn-md">Leia mais</button>

                        </div>

                    </div>
                    <!-- Card -->
                </div>
                <!-- Card deck -->
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
    <!-- column
    <div fxFlex.gt-lg="33" fxFlex.gt-md="33" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <mat-card-title>Our Visitors</mat-card-title>
                <mat-card-subtitle>Different Devices Used to Visit</mat-card-subtitle>
                <div class="piechart">
                    <x-chartist class="" [data]="donuteChart1.data" [type]="donuteChart1.type"
                        [options]="donuteChart1.options" [responsiveOptions]="donuteChart1.responsiveOptions"
                        [events]="donuteChart1.events"> </x-chartist>
                </div>
            </mat-card-content>
            <hr>
            <mat-card-content>
                <ul class="list-inline text-center">
                    <li>
                        <h6 class="text-success m-0">
                            <i class="mdi mdi-checkbox-blank-circle font-10 m-r-10 "></i>Mobile</h6>
                    </li>
                    <li>
                        <h6 class=" text-info  m-0">
                            <i class="mdi mdi-checkbox-blank-circle font-10 m-r-10"></i>Desktop</h6>
                    </li>
                    <li>
                        <h6 class=" text-purple  m-0">
                            <i class="mdi mdi-checkbox-blank-circle font-10 m-r-10"></i>Tablet</h6>
                    </li>
                </ul>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->



</div>



<!--
<div fxLayout="row wrap">
    <!-- Card column
    <div fxFlex.gt-lg="100" fxFlex.gt-md="40" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card class="oh text-center little-profile" >

            <mat-card-content>

                <h3 class="m-b-0">Angela Dominic</h3>
                <h6 class="m-t-0 ">Web Designer &amp; Developer</h6>
                <mat-card-actions>
                    <button mat-raised-button color="warn">Follow</button>
                </mat-card-actions>
                <div fxLayout="row" fxLayoutWrap="wrap" class="m-t-30">
                    <div fxFlex.gt-sm="10.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                        <div class="neodiv">
                            <i class="material-icons neo">
                                important_devices
                                </i>
                        </div>
                    </div>
                    <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                        <h3 class="m-0 font-light"><i class="material-icons neo">
                            important_devices
                            </i></h3>
                        <small>Followers</small>
                    </div>
                    <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                        <h3 class="m-0 font-light">6035</h3>
                        <small>Likes</small>
                    </div>
                    <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                        <h3 class="m-0 font-light">6035</h3>
                        <small>Likes</small>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>


    </div>
    <!-- Card column -->
<!-- Card column
    <div fxFlex.gt-lg="75" fxFlex.gt-md="60" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-tab-group>
                <!-- Tab 1
                <mat-tab label="Activity">
                    <mat-card-content>
                        <div class="d-flex no-blcok">
                            <div class="m-r-20">
                                <img class="img-circle" width="50" src="assets/images/users/1.jpg" alt="Image"> </div>
                            <div class="p-b-20 b-b m-b-30">
                                <h4 class="m-0">Nirav joshi
                                    <small class="text-muted">(5 minute ago)</small>
                                </h4>
                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
                                    nec odio. Praesent libero.</p>
                                <div fxLayout="row wrap">
                                    <div fxFlex.gt-sm="20" fxFlex="100">
                                        <img class="img-responsive rounded" src="assets/images/big/img2.jpg"
                                            alt="Image">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex no-blcok">
                            <div class="m-r-20">
                                <img class="img-circle" width="50" src="assets/images/users/2.jpg" alt="Image"> </div>
                            <div class="p-b-20 b-b m-b-30">
                                <h4 class="m-0">Sunil joshi
                                    <small class="text-muted">(3 minute ago)</small>
                                </h4>
                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
                                    nec odio. Praesent libero.</p>
                                <button mat-raised-button color="primary">Check Now</button>
                            </div>
                        </div>
                        <div class="d-flex no-blcok">
                            <div class="m-r-20">
                                <img class="img-circle" width="50" src="assets/images/users/3.jpg" alt="Image"> </div>
                            <div class="p-b-20 b-b m-b-30">
                                <h4 class="m-0">Vishal Bhatt
                                    <small class="text-muted">(1 minute ago)</small>
                                </h4>
                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
                                    nec odio. Praesent libero.</p>
                                <div fxLayout="row wrap">
                                    <div fxFlex.gt-sm="20" fxFlex="100">
                                        <img class="img-responsive rounded" src="assets/images/big/img1.jpg"
                                            alt="Image">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex no-blcok">
                            <div class="m-r-20">
                                <img class="img-circle" width="50" src="assets/images/users/4.jpg" alt="Image"> </div>
                            <div class="p-b-20 b-b m-b-30">
                                <h4 class="m-0">Dhiren Adesara
                                    <small class="text-muted">(1 minute ago)</small>
                                </h4>
                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
                                    nec odio. Praesent libero.</p>
                                <button mat-raised-button color="warn">Check Now</button>
                            </div>
                        </div>



                    </mat-card-content>
                </mat-tab>
                <!-- End Tab 1 -->
<!-- Tab 2
                <mat-tab label="Profile">
                    <mat-card-content>
                        <mat-card-title>Form Basic Layouts</mat-card-title>
                        <!-- ============================================================== -->
<!-- column -->
<!-- ==============================================================
                        <form class="basic-form">
                            <div fxLayout="row wrap">
                                <!-- column
                                <div fxFlex.gt-sm="100" fxFlex="100">
                                    <mat-form-field>
                                        <input matInput placeholder="Some text value">
                                    </mat-form-field>
                                </div>
                                <!-- column
                                <div fxFlex.gt-sm="100" fxFlex="100">
                                    <mat-form-field>
                                        <input matInput placeholder="EmailId" type="email">
                                    </mat-form-field>
                                </div>
                                <!-- column
                                <div fxFlex.gt-sm="100" fxFlex="100">
                                    <mat-form-field>
                                        <input matInput placeholder="Password" type="password">
                                    </mat-form-field>
                                </div>

                                <!-- column
                                <div fxFlex.gt-sm="100" fxFlex="100">
                                    <mat-form-field>
                                        <mat-select placeholder="Select">
                                            <mat-option value="option">Option</mat-option>
                                            <mat-option value="option">Option2</mat-option>
                                            <mat-option value="option">Option3</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <!-- column
                                <div fxFlex.gt-sm="100" fxFlex="100">
                                    <mat-form-field>
                                        <textarea matInput placeholder="Textarea"></textarea>
                                    </mat-form-field>
                                </div>
                                <!-- column -
                                <div fxFlex.gt-sm="100" fxFlex="100">
                                    <button mat-raised-button color="primary">Update Profile</button>
                                </div>
                            </div>
                        </form>
                    </mat-card-content>
                </mat-tab>
            </mat-tab-group>
        </mat-card>
    </div>

</div>

-->


<!-- Card deck
<div class="card-deck">

    <!-- Card -
    <div class="card mb-4">

        <!--Card image
        <div class="view overlay">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg"
                alt="Card image cap">
            <a href="#!">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>

        <!--Card content
        <div class="card-body">

            <!--Title
            <h4 class="card-title">Card title</h4>
            <!--Text-
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -
            <button type="button" class="btn btn-light-blue btn-md">Read more</button>

        </div>

    </div>
    <!-- Card -->

<!-- Card
    <div class="card mb-4">

        <!--Card image
        <div class="view overlay">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/14.jpg"
                alt="Card image cap">
            <a href="#!">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>

        <!--Card content
        <div class="card-body">

            <!--Title
            <h4 class="card-title">Card title</h4>
            <!--Text
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons
            <button type="button" class="btn btn-light-blue btn-md">Read more</button>

        </div>

    </div>
    <!-- Card -->

<!-- Card
    <div class="card mb-4">

        <!--Card image
        <div class="view overlay">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/15.jpg"
                alt="Card image cap">
            <a href="#!">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>

        <!--Card content
        <div class="card-body">

            <!--Title
            <h4 class="card-title">Card title</h4>
            <!--Text
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons
            <button type="button" class="btn btn-light-blue btn-md">Read more</button>

        </div>

    </div>
    <!-- Card

</div>
<!-- Card deck -->

<!-- Button trigger modal

<ng-template #content id="modal_destaque" let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Destaque!</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Hello, World!</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Ok</button>
    </div>
  </ng-template>

-->

