<div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.gt-sm="100" fxFlex.gt-xs="100"
        style="flex: 1 1 100%; box-sizing: border-box; max-width: 100%;">
        <!-- Conteúdo do primeiro cartão -->
        <!-- <a href="http://dados.iprev.ma.gov.br/dados-previdenciarios"> -->
            <mat-card _ngcontent-vek-c12 class="mat-card" style="height: 400px;" (click)="navegar('dados-previdenciarios')">
                <mat-card-content _ngcontent-vek-c12 class="mat-card-content clicavel d-flex flex-column align-items-center justify-content-center">
                    <div _ngcontent-vek-c12 class="mb-3">
                        <div _ngcontent-ybu-c12 class="m-r-10 no shrink mb-2">
                            <div _ngcontent-ybu-c12 class="shadow-none mat-fab mat-accent d-flex align-items-center justify-content-center" style="background: #138b55; width: 100px; height: 100px; margin: auto;">
                                <span class="mat-button-wrapper">
                                    <i class="material-icons" style="font-size: 64px;">insert_chart</i>
                                </span>
                            </div>
                        </div>
                        <div  _ngcontent-ybu-c12>
                            
                            <h3 _ngcontent-ybu-c12 class="font-cards text-center" style="font-size: 25px;">Dados Previdenciários </h3>
                            <h6 _ngcontent-ybu-c12 class="text-muted m-0 text-center" style="font-size: 18px;">IPREV MA</h6>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        <!-- </a> -->
    </div>

    <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-xs="50"
        style="flex: 1 1 50%; box-sizing: border-box; max-width: 50%;">
        <!-- Conteúdo do segundo cartão -->
        <!-- <a href="http://dados.iprev.ma.gov.br/gestao"> -->
            <mat-card _ngcontent-vek-c12 class="mat-card" style="height: 400px;" (click)="navegar('gestao')">
                <mat-card-content _ngcontent-vek-c12 class="mat-card-content clicavel d-flex flex-column align-items-center justify-content-center">
                    <div _ngcontent-vek-c12 class="mb-3">
                        <div _ngcontent-ybu-c12 class="m-r-10 no shrink mb-2">
                            <div _ngcontent-ybu-c12 class="shadow-none mat-fab mat-accent d-flex align-items-center justify-content-center" style="background: #c5053f; width: 100px; height: 100px; margin: auto;">
                                <span class="mat-button-wrapper">
                                    <i class="material-icons" style="font-size: 64px;">library_books</i>
                                </span>
                            </div>
                        </div>
                        <div _ngcontent-ybu-c12>
                            <h3 _ngcontent-ybu-c12 class="font-cards text-center" style="font-size: 25px;">Gestão e Governaça</h3>
                            <h6 _ngcontent-ybu-c12 class="text-muted m-0 text-center"style="font-size: 18px;" >IPREV MA</h6>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        <!-- </a> -->
    </div>

    <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-xs="50"
        style="flex: 1 1 50%; box-sizing: border-box; max-width: 50%;">
        <!-- Conteúdo do terceiro cartão -->
        <!-- <a href="http://dados.iprev.ma.gov.br/prova-de-vida"> -->
            <mat-card _ngcontent-vek-c12 class="mat-card" style="height: 400px;" (click)="navegar('prova-de-vida')">
                <mat-card-content _ngcontent-vek-c12 class="mat-card-content clicavel d-flex flex-column align-items-center justify-content-center">
                    <div _ngcontent-vek-c12 class="mb-3">
                        <div _ngcontent-ybu-c12 class="m-r-10 no shrink mb-2">
                            <div _ngcontent-ybu-c12 class="shadow-none mat-fab mat-accent d-flex align-items-center justify-content-center" style="background: linear-gradient(to right, #c78420, #c78420); width: 100px; height: 100px; margin: auto;">
                                <span class="mat-button-wrapper">
                                    <i class="material-icons" style="font-size: 64px;">contacts</i>
                                </span>
                            </div>
                        </div>
                        <div _ngcontent-ybu-c12>
                            <h3 _ngcontent-ybu-c12 class="font-cards text-center" style="font-size: 25px;">Censo Recadastramento e Prova de vida</h3>
                            <h6 _ngcontent-ybu-c12 class="text-muted m-0 text-center" style="font-size: 18px;">IPREV MA</h6>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        <!-- </a> -->
    </div>
</div>












<!--XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX-->
<!--
<div fxLayout="row wrap">
     column
    <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <div class="d-flex flex-wrap">
                    <div>
                        <mat-card-title>Últimas Notícias</mat-card-title>
                        <mat-card-subtitle>Acompanhe nossas principais notícias</mat-card-subtitle>
                    </div>
                   
                    <div class="ml-auto">
                        <ul class="list-inline">
                            <li>
                                <h6 class="text-success m-0"><i
                                        class="mdi mdi-checkbox-blank-circle font-10 m-r-10 "></i>Ample</h6>
                            </li>
                            <li>
                                <h6 class=" text-info m-0"><i
                                        class="mdi mdi-checkbox-blank-circle font-10 m-r-10"></i>Pixel</h6>
                            </li>
                        </ul>
                    </div>
                    -->
                <!--
                </div>
             
               Card deck
                <div class="card-deck">

                    Card
                    <div class="card mb-4" *ngFor="let noticia of lista_noticias">

                 Card image
                        <div class="view overlay">
                          <img class="card-img-top" [src]="noticia.imagem" alt="Card image cap">
                        </div>

                       Card content
                        <div class="card-body">

                           Title
                            <p class="card-title" style="font-size: 14px;">Publicado em:
                                {{noticia.date | date: 'dd/MM/yyyy'}}</p>
                            Text
                            <h4 class="card-text">{{noticia.title.rendered}}</h4>
                            Provides extra visual weight and identifies the primary action in a set of buttons
                            <button type="button" (click)="abrirLeiaMaisDestaque(noticia)" class="btn btn-light-blue btn-md">Leia mais</button>
                        </div>
                    </div>
                     Card
                </div>
                 Card deck
            </mat-card-content>
        </mat-card>
    </div>
</div>
-->
