<mat-card>
	<!-- <mat-card-content>
		<mat-card-title>Suporte de TI</mat-card-title>
		<mat-card-subtitle>Formulário de solicitação de suporte de informática</mat-card-subtitle>
		
		<div class="form-row">
			<div class="col">
				<p>
					<mat-form-field appearance="outline">
						<mat-label>Nome do solicitante</mat-label>
						<input matInput placeholder="Nome completo"
						[(ngModel)]="chamadoAtual.nome_solicitante">
					</mat-form-field>
				</p>
			</div>
			<div class="col">
				<p>
					<mat-form-field appearance="outline">
						<mat-label>E-mail</mat-label>
						<input  type="email" name="email"  matInput placeholder="E-mail institucional"
						[(ngModel)]="chamadoAtual.email" required="required"> 
					</mat-form-field>
				</p>
			</div>
		</div>
		<div class="form-row">
			<div class="col">
				<p>
					<mat-form-field appearance="outline">
						<mat-label>Setor</mat-label>
						<input matInput placeholder="Setor"
						[(ngModel)]="chamadoAtual.setor">
					</mat-form-field>
				</p>
			</div>
			<div class="col">
				<p>
					<mat-form-field appearance="outline">
						<mat-label>IP do Computador</mat-label>
						<input type="txte" matInput placeholder="IP do Computador" 
						[(ngModel)]="chamadoAtual.ip" (keypress)="numberLimit($event)">
					</mat-form-field>
				</p>
			</div>
			<div class="col">
				<p>
					<mat-form-field appearance="outline">
						<mat-label>Localização</mat-label>
						<input matInput placeholder="(Biadene, Anexos, etc...)"
						[(ngModel)]="chamadoAtual.localizacao">
					</mat-form-field>
				</p>
			</div>
		</div>
		<div class="form-row">
			<div class="col">
				<p>
					<mat-form-field appearance="outline">
						<mat-label>Descrição</mat-label>
						<textarea matInput placeholder="Descrição da solicitação"
						[(ngModel)]="chamadoAtual.descricao"></textarea>
					</mat-form-field>
				</p>
			</div>
		</div>
		
		<button mat-button (click)="abrirChamado()">Abrir chamado</button>
	
	</mat-card-content> -->

	<iframe title="# Previdência - Estado do Maranhão - Gestão e Governança - BI" src="https://app.powerbi.com/view?r=eyJrIjoiZTA1MmI0M2QtYzdkYi00MTA5LWE5YTEtNTI0NzA1MjAwM2NlIiwidCI6IjU0YWRhMzJkLWE5YWQtNDc0ZC04MmMxLTk2ZDQwZTIxY2NkNiJ9" frameborder="0" allowFullScreen="true" style="width: 100%; height: 90vh;" ></iframe>

	


</mat-card>